.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 16px;

  @media (min-width: $tablet-width) {
    padding: 80px 138px;
  }
}

.benefits__title {
  margin-bottom: 9px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 47px;
  }
}

.benefits__heading {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 30px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.benefits__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 9px;
  padding-bottom: 13px;
  border-radius: 16px;
  background-color: $bcg-benefits;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);

  &:last-child {
    margin-bottom: 0;
  }

  & .benefits__hide-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    max-height: 0;
    transform: translateY(-160px);

    @media (min-width: $tablet-width) {
      transform: translateY(-170px);
    }
  }

  &.active .benefits__hide-block {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: 160px;
    background-color: $basic-white;
    border-radius: 16px 16px 0 0;
    transform: translateY(0);
    transition: transform 0.5s linear;

    & p {
      text-align: center;
      padding-right: 5px;
      padding-left: 5px;
    }

    @media (min-width: $tablet-width) {
      min-height: 170px;

      & p {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 370px;
    margin-bottom: 0;
  }
}

.benefits__button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 6px;

  & button {
    width: 153px;
  }

  & button > span {
    font-size: 22px;
  }

  @media (min-width: $tablet-width) {
    gap: 16px;

    & button {
      width: 161px;
    }
  }
}

.benefits__img-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.benefits__img {
  object-fit: contain;

  &--of-none {
    object-position: 0 6px;
  }

  @media (min-width: $tablet-width) {
    height: 170px;

    &--of-none {
      object-position: 0 15px;
    }
  }
}
