.call {
  position: relative;
  height: 185px;
  font-family: "Segoe-UI", "Arial", sans-serif;

  a {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 212px;
  }
}

.call__title {
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 220px;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}
