.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  background: $basic-white;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    min-height: 428px;
  }
}
