.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 16px;
  background-color: $bcg-legend;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 40px 138px 124px;
  }
}

.legend__title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 58px;
  }
}

.legend__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
  }
}
.legend__card{
  padding:56.25% 0 0 0;
  position:relative;
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 0px;
  }
}

.legend__card-wrapper {
  width: 100%;
  @media (min-width: $tablet-width) {
    width: 60%;
    position: relative;
  }
}

.legend__icon {
  margin: auto;
  margin-bottom: 16px;
  display: block;
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 294px;
    height: 36px;
    margin-bottom: 0;
    bottom: -50px;
    left: 50%;
    margin-left: -147px;
  }
}

.legend__img {
  width: 100%;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    height: 428px;
  }
}
