.page-header {
  display: flex;
  background-color: $bcg-header;
  padding: 10px 16px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 10px 138px;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
