.page-header {
  display: flex;
  background-color: lightblue;
  padding: 10px 16px;
  @media (min-width: $tablet-width) {
  }
}

.page-header__img-wrapper {
  display: flex;
  align-items: center;
}

.page-header-img {
  margin-right: 6px;
}
