.values {
  padding: 0 16px;

  @media (min-width: $tablet-width) {
    min-height: 450px;
    padding: 80px 138px 0;
  }
}

.values__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.values__item {
  position: relative;
  min-width: 343px;
  max-width: 370px;
  margin-bottom: 10px;
  background-color: $bcg-legend;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  & > .values__hide {
    position: absolute;
    bottom: 0;
    height: 1px;
    opacity: 0;
  }

  &.active > .values__hide {
    position: relative;
    height: auto;
    padding: 14px 15px 16px;
    opacity: 1;
    transition: opacity 1.5s;
  }

  @media (min-width: $tablet-width) {
    min-width: 370px;
    align-self: flex-start;
  }
}

.values__visible {
  background-color: $basic-white;
  padding: 30px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

.values__about {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

.values__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.values__title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 47px;
  }
}

.values__card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.values__more {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}

.values__card-profit {
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}

.values__value {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
