.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  background-color: $btn-color;
  border: none;
  border-radius: 60px;
  cursor: pointer;

  &--ml-auto {
    margin-left: auto;
  }

  // &:hover {

  // }
}

.mobile-only {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.desktop-only {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}
