.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  & span {
    color: $basic-black;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  padding: 14px 32px;
  background-color: $btn-color;
  border: 1px solid $btn-color;
  border-radius: 60px;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    border: 1px solid $basic-black;
  }

  &--ml-auto {
    margin-left: auto;
  }

  &--tt-upper {
    text-transform: uppercase;
  }

  &--mb28 {
    margin-bottom: 28px;
  }

  &--inverse {
    background-color: $basic-white;
    border: 1px solid $basic-white;
  }

  &--inverse:hover {
    background-color: $btn-color;
    border: 1px solid $btn-color;
  }

  &--p6-14 {
    padding: 6px 14px;
  }

  & span {
    pointer-events: none;
    font-family: "Segoe-UI", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
  }
}

.mobile-only {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
