//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$btn-color: #f5ee36;
$bcg-block: #f7f7f7;

// Viewprts
$tablet-width: 1024px;

//BCG
$bcg-hero: #f7f7f7;
$bcg-header: #FAFAFA;
$bcg-mob-menu: #E5E5E5;
